@media (max-width: 1024px) {
    body {
        header {
            background: #181818;
            .container_header {
                padding: 0px 10px;
                display: flex;
                justify-content: center;
                .navigation {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 70%;
                    padding: 30px 0;
                    .header_logo {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        transition: 1s;
                        &:hover {
                            transform: scale(1.4);
                        }
                        img {
                            width: 166px;
                        }
                    }
                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 40%;
                        li {
                            display: flex;
                            align-items: center;
                            a {
                                color: #FFFFFF;
                                cursor: pointer;
                                font-size: 15px;
                                transition: 1s;
                                &:hover {
                                    color: hotpink;
                                }
                            }
                        }
                    }
                    .together {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .login_btn {
                            border: 1px solid white;
                            width: 100px;
                            height: 40px;
                            background: transparent;
                            cursor: pointer;
                            transition: 1s;
                            &:hover {
                                background: hotpink;
                            }
                            a {
                                color: #FFFFFF;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        // FEATURES SECTION STARTS
        .features {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin-top: 100px;
            h1 {
                font-size: 52px;
                line-height: 62px;
            }
            p {
                width: 50%;
                font-size: 20px;
                line-height: 30px;
                margin-top: 40px;
            }
            .features_box {
                margin-top: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px!important;
                .chatgroup {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    .chatbot {
                        width: 380px!important;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .linechart {
                        width: 160px!important;
                        height: 100%;
                        position: absolute;
                        top: 150px;
                        left: 140px!important;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .apibox {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 300px;
                    .apib {
                        .pictext {
                            display: flex;
                            align-items: center;
                            figure {}
                            h4 {
                                margin-left: 10px;
                                font-size: 20px;
                                line-height: 30px;
                                text-align: left;
                            }
                        }
                        p {
                            margin-top: 15px;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: left;
                            width: 100%;
                        }
                    }
                    .apibox_up {}
                    .apibox_middle {
                        margin-top: 60px;
                    }
                    .apibox_down {
                        margin-top: 60px;
                    }
                }
            }
        }
        // FEATURES SECTION ENDS
    }
}