.tabContainer {
    width: 100%;
    height: 350px;
    .buttonContainer {
        height: 15%;
        button {
            width: 33.33%;
            height: 100%;
            float: left;
            border: 1px solid;
            outline: none;
            cursor: pointer;
            padding: 10px;
            font-size: 18px;
            background: #eee;
            &:hover {
                background: #d7d4d4;
            }
        }
    }
    .tabPanel_features {
        height: 85%;
        background: gray;
        color: white;
        text-align: center;
        box-sizing: border-box;
        font-size: 22px;
        display: none;
        justify-content: center;
        align-items: center;
        animation: fadeEffect 1s;
        .title_group {
            .title {
                width: 200px;
                height: 100px;
                padding: 10px;
                border: 0;
                outline: 0;
                resize: none;
                box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
            }
        }
        .desc_group {
            margin-left: 100px;
            .description {
                width: 200px;
                height: 100px;
                padding: 10px;
                border: 0;
                outline: 0;
                resize: none;
                box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
            }
        }
        .text_group {
            margin-left: 100px;
            .text {
                width: 200px;
                height: 100px;
                padding: 10px;
                border: 0;
                outline: 0;
                resize: none;
                box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
            }
        }
        .picso {
            margin-left: 100px;
            margin-top: -75px;
        }
        .send {
            margin-left: 100px;
            margin-top: -75px;
            padding: 10px;
            border-radius: 10px;
        }
    }
    @keyframes fadeEffect {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}